<div class="overflow-x-auto relative left-0 w-full shadow-md rounded-lg">
    <table class="w-full text-sm text-left text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Ονοματεπωνυμο
                </th>
                <th scope="col" class="py-3 px-6">
                    Τηλεφωνο
                </th>
                <th scope="col" class="py-3 px-6">
                    αριθμος ταυτοτητας
                </th>
                <th scope="col" class="py-3 px-6">
                    Εθνικοτητα
                </th>
                <th scope="col" class="py-3 px-6">
                    βαθμολογια
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b bg-gray-900 border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                    Kristel Lamaj
                </th>
                <td class="py-4 px-6">
                    6940899216
                </td>
                <td class="py-4 px-6">
                    AN239431
                </td>
                <td class="py-4 px-6">
                    Έλληνας
                </td>
                <td class="py-4 px-6">
                    Πολύ καλός
                </td>
            </tr>
            <tr class="border-b bg-gray-900 border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                    Kristel Lamaj
                </th>
                <td class="py-4 px-6">
                    6940899216
                </td>
                <td class="py-4 px-6">
                    AN239431
                </td>
                <td class="py-4 px-6">
                    Έλληνας
                </td>
                <td class="py-4 px-6">
                    Πολύ καλός
                </td>
            </tr>
            <tr class="border-b bg-gray-900 border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium  whitespace-nowrap text-white">
                    Kristel Lamaj
                </th>
                <td class="py-4 px-6">
                    6940899216
                </td>
                <td class="py-4 px-6">
                    AN239431
                </td>
                <td class="py-4 px-6">
                    Έλληνας
                </td>
                <td class="py-4 px-6">
                    Πολύ καλός
                </td>
            </tr>

        </tbody>
    </table>
</div>
